@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
list-style-type: none;
list-style-position: outside;
padding-left: 1rem;
}

ol {
list-style-type: none;
list-style-position: outside;
padding-left: 1.5rem;
}

ul ul, ol ul {
list-style-type: circle;
}

ol ol, ul ol {
list-style-type: lower-latin;
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

/* Style for website */
body.home .jumbotron{
	background-color: #777;
}
body.home .jumbotron p{
	color: #fff;
	font-size: 1.2em;
	padding: 1em 0.5em;
}
body.home nav div a{
	background-color: #444;
	color: #fff;
	text-decoration: none;
	border: #777 solid 2px;
}
body.watch .page-name, body.watch aside{
	background-color: #444;
	color: #fff;
	padding: 2em 0em;
}
body.watch header nav ol li a{
	font-size: 1.25em;
	text-decoration: none;
}
body.watch h2{
	font-size: 2em;
}
body.watch h3 {
	background-color: #444;
	color: #fff;
	padding: 1em 0em;
}
body.watch .movie{
	background-color: #999;
	padding: 2em;
}
