@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
list-style-type: none;
list-style-position: outside;
padding-left: 1rem;
}

ol {
list-style-type: none;
list-style-position: outside;
padding-left: 1.5rem;
}

ul ul, ol ul {
list-style-type: circle;
}

ol ol, ul ol {
list-style-type: lower-latin;
}

strong {
font-weight: bold;
}

em {
font-style: italic;
}

/* Style for website */
.jumbotron{
	background: url(../img/masthead.jpg);
	width:100%;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
body{
	background: url(../img/bg-home.jpg);
}
body.home .jumbotron{
	background-color: #777;
}
body.home .jumbotron p{
	color: #fff;
	font-size: 1.2em;
	padding: 1em 0.5em;
}
body.home nav div a{

	color: #fff;
	text-decoration: none;
	/* border: #777 solid 2px; */
}
.page-name{
	padding:0;
}
body.watch .page-name, body.watch aside{
	/* background-color: #444; */
	color: #fff;

}
body.watch header nav ol li a{
	font-size: 1.25em;
	text-decoration: none;
}
body.watch h2{
	font-size: 2em;
}

body.watch .movie{
	background-color: #ddd;
	padding: .5em;
	margin: 0 auto;
}
nav{
	background: url(../img/bg-home.jpg);
	border-top: 10px solid transparent;
  /* padding: 15px; */
  border-image: url(../img/border.png) 30 round;
}
.nav-container-mobile{
	display:flex;
	flex-flow: column nowrap;
}
.nav-container{
	display:flex;
	flex-flow: row nowrap;

}
.home-link-container{
	display: block;
	width:100%;
	opacity:.65;

}
.home-link-container:hover{
	opacity:1;
	cursor: pointer;
}
.home-icon{
	display:block;
	margin: 0 auto;
	width:50%;
	max-width:300px;
	cursor: pointer;
}

/*====================================Watch Page=============================*/
/* Style for website */
body.home .jumbotron{
background-color: #777;
}
body.home .jumbotron p{
color: #fff;
font-size: 1.2em;
padding: 1em 0.5em;
}
body.home nav div a{
/* background-color: #444; */
color: #fff;
text-decoration: none;
/* border: #777 solid 2px; */
}


body.watch header nav ol li a{
font-size: 1.25em;
text-decoration: none;
}
body.watch h2{
font-size: 6rem;
}
body.watch h3 {
background-color: #444;
color: #fff;
padding: 1em 0em;
}


/* button styling */
html{
font-family: 'Girassol', cursive;
}
.btn{
text-decoration: none;
margin: 1rem auto 0 auto;
padding: 1rem ;
background-color: #f9ad67;
width: 150px;
border-radius: 5px;
font-family: 'Girassol', cursive;
font-weight: 700;
font-style: normal;
font-size: 1.2rem;
color: black;
text-align: center;
}
.btn:hover{
text-decoration: none;


background-color: white;

font-family: 'Girassol', cursive; font-weight: 700;
font-style: normal;
}

/*navigation styling
<header id="fixedbar">
<nav class="nav-collapse">
<ol id="fixednav">
<li><a href="index.html">Home</a></li>
<li><a href="watch.html">Watch</a></li>
<li><a href="#">Play</a></li>
<li><a href="#">Eat</a></li>
<li><a href="#">Learn</a></li>
</ol>
</nav>
</header>
 */

#fixedbar{
background-color: #f9ad67 ;
padding-bottom: .5rem;
}
#fixednav{
background-color: #f9ad67;
}

#fixednav li{
 background-color: #f9ad67;
 border-top: solid 1px white;
 padding: .5rem;
}

#fixednav li:hover{
 background-color: purple;
 padding: .5rem;
 color: white;
}
#fixednav a{
color: black;
}
#fixednav a:hover{
color: white;
}
.header_p{
font-size: 1.6rem;
}
.logo_display{
width: 50px;
float: right;
}
.movie-img{
	width:100%;
	height:100%;
	object-fit: cover;
}

.nav-collapse{
	background: none;
}
body.watch img.watch-header{
	max-width: 100%;
	max-height: 100%;
}
.screen-head{
	display:block;
	margin: .5rem auto .5rem auto;
}
.coming-soon-img{
	height:100%;
}

@media screen and (min-width:780px){
#fixednav li{
border-top: none;
font-size: 1.4rem;
}
.logo_display{
width: 30%;
float: left;
}
}
@media screen and (min-width:780px){
/*HOME PAGE STYLES */
.nav-container-mobile{
	display:flex;
	flex-flow: row nowrap;
}
.home-link-container{
	display: block;
	width:100%;
	opacity:.65;

}
.home-link-container:hover{
	display: block;
	width:100%;
	opacity:1;
	cursor: pointer;
}
.home-nav{
	border-left: 10px solid transparent;
	border-spacing: 10px;
	border-image: url(../img/border.png) 30 round;
}
.nav-container{
	width:100%;
}
.home-icon{
	display:block;
	margin: 0 auto;
	width:100%;
	max-width:300px;
	cursor: pointer;
}
